<div class="container" *ngIf="cartMode">
 <div class="row">
   <div class="col-12">
   <table class="table table-image">
     <thead>
       <tr>
         <th scope="col">Sl-No</th>
         <th scope="col">Image</th>
         <th scope="col"> Name</th>
         <th scope="col">Description</th>
         <th scope="col">cost</th>
         <th scope="col">delete</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let item of Items ;index as i">
         <th scope="row">{{i+1}}</th>
         <td class="w-25">
           <img src={{item.ItemImage}} class="img-fluid img-thumbnail" alt="Sheep" style="width:210px;height:250px;">
         </td>
         <td>{{item.ItemName}}</td>
         <td>{{item.ItemDescription}}</td>
         <td>{{item.ItemCost}}</td>
         <td><a (click)="DeleteRecordCart(item.id)" class="btn btn-danger btn-md">DELETE</a></td>
       </tr>
     </tbody>
   </table>
   </div>
 </div>
 <div *ngIf="Items.length<1">
   <center>
   <h1>Empty</h1>
 </center>
 </div>
 <br><br>
   <center><button *ngIf="Items.length>0" class="btn btn-success" type="button" name="button" (click)="goPay(); sums()">Buy now</button></center>
   <br><br>
</div>
<div class="container" *ngIf="payMode">
  <br><br>
<button class="btn btn-danger" type="button" name="button" (click)="goCart()">Back</button>
<br><br>
<table class="table table-image">
  <thead>
    <tr>
      <th scope="col">Sl-No</th>
      <th scope="col"> Name</th>
      <th scope="col">cost</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of Items ;index as i">
      <th scope="row">{{i+1}}</th>
      <td>{{item.ItemName}}</td>
      <td>{{item.ItemCost}}</td>
    </tr>
    <tr>
      <th></th>
      <td>Total({{i}})</td>
      <td>{{total}}</td>
    </tr>
  </tbody>
</table>
<br><br>
<br><br>
<center>
<div class="">
  <h1>Details</h1>
  <form name="form" [formGroup]="form3" (ngSubmit)="form3.valid && onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name <i class="fa fa-user"></i></label>
      <input type="text"  class="form-control" formControlName="firstName" [ngClass]="{'is-invalid':form3.get('firstName').touched && form3.get('firstName').invalid}" required />
      <div class="invalid-feedback">
        <div>First Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" formControlName="lastName" [ngClass]="{'is-invalid':form3.get('lastName').touched && form3.get('lastName').invalid}" required />
      <div class="invalid-feedback">
        <div>Last Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email <i class="fa fa-envelope"></i></label>
      <input type="text" class="form-control" formControlName="email" [ngClass]="{'is-invalid':form3.get('email').touched && form3.get('email').invalid}"   />
      <div *ngIf="form3.get('email').touched && form3.get('email').invalid"  class="invalid-feedback">
        <div *ngIf="form3.get('email').errors.required">Email Name is required</div>
        <div *ngIf="form3.get('email').errors.email">Email must be a valid email Address</div>
      </div>
    </div>
    <div class="form-group">
      <label for="phone1">Phone Number</label>
      <input type="text" class="form-control"  formControlName="phone1" [ngClass]="{'is-invalid':form3.get('phone1').touched && form3.get('phone1').invalid}" />
      <div *ngIf="form3.get('phone1').touched && form3.get('phone1').invalid"  class="invalid-feedback">
        <div *ngIf="form3.get('phone1').errors.required">Phone number needed</div>
        <div *ngIf="form3.get('phone1').errors.minlength">Number  must be a atleast 10 numbers</div>
        <div *ngIf="form3.get('phone1').errors.maxlength">Number  must be a atmost 10 numbers</div>
      </div>
    </div>
  </form>
  Select payment option -
  <button class="btn btn-danger" type="button" name="button" (click)="goCardCod()">Cash On delivery</button> |
  <button class="btn btn-success" type="button" name="button" (click)="goCardOnline()">Payment through Online</button>
  <br><br><br>
  </div>
<div class="" *ngIf="cardModeOnline">
<hr><center>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron">
        <form name="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
    
          <div class="form-group">
            <label for="password">Last 4 digit CVV of Debit card <i class="fa fa-cc-visa" style="color:navy;"></i>
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            </label>
            <input type="password" class="form-control"  formControlName="password" [ngClass]="{'is-invalid':form.get('password').touched && form.get('password').invalid}" />
            <div *ngIf="form.get('password').touched && form.get('password').invalid"  class="invalid-feedback">
              <div *ngIf="form.get('password').errors.required">CVV is required</div>
              <div *ngIf="form.get('password').errors.minlength">CVV  must be a atleast 4 charector</div>
              <div *ngIf="form.get('password').errors.maxlength">CVV  must be a atmost 4 charector</div>
            </div>
          </div>
          <div class="form-group">
            <label for="date1">Expire Date</label>
            <input type="date" class="form-control"  formControlName="date1" [ngClass]="{'is-invalid':form.get('date1').touched && form.get('date1').invalid}" />
            <div *ngIf="form.get('date1').touched && form.get('password').invalid"  class="invalid-feedback">
              <div *ngIf="form.get('date1').errors.required">Date is required</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary"  [disabled]="!form.valid" (click)="payed()"> {{total}}Rs - Pay</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</center>
</div>

<div class="" *ngIf="cardModeCod">
  <h2> Checkout</h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="jumbotron">
          <form name="form" [formGroup]="form2" (ngSubmit)="form2.valid && onSubmit()">
           
            <div class="form-group">
              <label for="address">Address <i class="fa fa-user"></i></label>
              <input type="text"  class="form-control" formControlName="address" [ngClass]="{'is-invalid':form2.get('address').touched && form2.get('address').invalid}" required />
              <div class="invalid-feedback">
                <div>Address is required</div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary"  [disabled]="!form2.valid" (click)="payed()"> {{total}}Rs - On spot</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</center>
</div>
